  body {
    background-color: bisque;
    color: black;
    height: auto;
    width: auto;
    border: solid rgb(206, 135, 3) 10px; 
    text-align: center;
    margin: 100px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    text-indent: 30px;
} 

header{
    font-size: 64px; 

}
ul {
    background-color: bisque;
    color: black
}
li{
    background-color:bisque;
    color: black;
    font-size: 34px;
    margin: 30px;
}

.para {
    background-color: lightgrey;
    border: dotted rgb(0, 0, 0) auto;
    text-indent: 30px;
    margin: 30px;
}

#workExperience{
    font-size: 18px;
    text-align: left
}

#movies{
    font-size: 18px;
    margin: 10px;
    background-color: lightgrey;
    text-align: match-parent;

}

#moviesBase{
    border: solid black;
    background-color: lightgrey;
}